<mat-card class="container" aria-label="stuff">
  <mat-card-header>
    <mat-card-title>Stuff</mat-card-title>
    <mat-card-subtitle>Stuff I use and recommend.</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    @if (isLoading) {
      <div class="loading-container">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Loading stuff...</p>
      </div>
    } @else {
      <mat-nav-list>
        @for (stuff of stuffs; track stuff.name) {
          <a mat-list-item [href]="stuff.url" target="_blank" rel="noopener noreferrer" class="link">
            {{ stuff.name }}
          </a>
        } @empty {
          No stuffs available.
        }
      </mat-nav-list>
    }
  </mat-card-content>
</mat-card>
