<!-- Toast Container for Global Messages - At viewport level -->
<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11000;">
  <!-- Success Toast -->
  @if (toastService.successMessage()) {
    <ngb-toast
      [autohide]="true"
      [delay]="5000"
      (hidden)="toastService.clearSuccess()"
      class="bg-success text-white"
    >
      {{ toastService.successMessage() }}
    </ngb-toast>
  }

  <!-- Error Toast -->
  @if (toastService.errorMessage()) {
    <ngb-toast
      [autohide]="true"
      [delay]="5000"
      (hidden)="toastService.clearError()"
      class="bg-danger text-white"
    >
      {{ toastService.errorMessage() }}
    </ngb-toast>
  }
</div>

<main class="cards-container" aria-label="Main content" id="main-content">
  <!-- Left column - secondary cards (Tech Stack, Experience, Education) -->
  <div class="left-column">
    <app-expandable-card
      #techStackCard
      icon="fa-code"
      title="Tech Stack"
      ariaLabel="View technology stack"
      [childHasCollapseButton]="true"
    >
      <app-tech-stack
        [showCollapseButton]="!techStackCard.alwaysExpanded"
        (collapseClicked)="techStackCard.toggleExpanded()"
      ></app-tech-stack>
    </app-expandable-card>

    <app-expandable-card
      #experienceCard
      icon="fa-briefcase"
      title="Experience"
      ariaLabel="View work experience"
      [childHasCollapseButton]="true"
    >
      <app-experience
        [showCollapseButton]="!experienceCard.alwaysExpanded"
        (collapseClicked)="experienceCard.toggleExpanded()"
      ></app-experience>
    </app-expandable-card>

    <app-expandable-card
      #educationCard
      icon="fa-graduation-cap"
      title="Education"
      ariaLabel="View education"
      [childHasCollapseButton]="true"
    >
      <app-education
        [showCollapseButton]="!educationCard.alwaysExpanded"
        (collapseClicked)="educationCard.toggleExpanded()"
      ></app-education>
    </app-expandable-card>
  </div>

  <!-- Center column - always visible full-size cards -->
  <div class="primary-column">
    <app-expandable-card icon="fa-blog" title="Blog Posts" ariaLabel="View blog posts" [alwaysExpanded]="true"  style="z-index: 11000;">
      <app-profile-card></app-profile-card>
    </app-expandable-card>
    <app-expandable-card icon="fa-project-diagram" title="Projects" ariaLabel="View projects" [alwaysExpanded]="true">
      <app-converter></app-converter>
    </app-expandable-card>
    <app-expandable-card icon="fa-user" title="About Me" ariaLabel="About me" [alwaysExpanded]="true">
      <app-about></app-about>
    </app-expandable-card>
  </div>

  <!-- Right column - remaining secondary cards -->
  <div class="right-column">
    <app-expandable-card
      #githubCard
      icon="fa-solid fa-chart-line"
      title="GitHub"
      ariaLabel="View GitHub activity"
      [childHasCollapseButton]="true"
    >
      <app-github-activity
        [showCollapseButton]="!githubCard.alwaysExpanded"
        (collapseClicked)="githubCard.toggleExpanded()"
      ></app-github-activity>
    </app-expandable-card>

    <app-expandable-card
      #hobbiesCard
      icon="fa-heart"
      title="Hobbies"
      ariaLabel="View hobbies"
      [childHasCollapseButton]="true"
    >
      <app-hobbies
        [showCollapseButton]="!hobbiesCard.alwaysExpanded"
        (collapseClicked)="hobbiesCard.toggleExpanded()"
      ></app-hobbies>
    </app-expandable-card>

    <app-expandable-card
      #stuffCard
      icon="fa-star"
      title="Stuff"
      ariaLabel="View recommended stuff"
      [childHasCollapseButton]="true"
    >
      <app-stuff
        [showCollapseButton]="!stuffCard.alwaysExpanded"
        (collapseClicked)="stuffCard.toggleExpanded()"
      ></app-stuff>
    </app-expandable-card>
  </div>
</main>

<app-back-to-top></app-back-to-top>
