@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define a custom theme using Material 3
$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'inherit',
      plain-family: 'inherit',
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for all components
@include mat.all-component-themes($my-theme);
